.main-section {
  grid-area: mainSection;
  height: 82vh;
  padding: 15px;
}

.main-section .content {
  height: 100%;
  padding-left: 10px;
  overflow-y: scroll;
}

.content::-webkit-scrollbar-track {
  margin-top: 40px;
}

.main-section .content h2,
.main-section .content p {
  padding: 5px 10px;
}

.main-section .content p {
  text-align: justify;
}

.main-section .content img {
  width: 100%;
}
