.main-container {
  display: grid;
  height: 80vh;
  width: 85%;
  margin: 15px auto ;
  grid-template-columns: 1fr 1fr ;
  grid-template-areas: "mainSection questionsSection";
  gap: 5px 10px;
  grid-area: main;
}
