.questionsSection {
  grid-area: questionsSection;
  background-color: transparent !important;
  margin-top: 20px;
}

@media (min-width: 480px) { 
  .questionsSection {
    margin-top: 0;
    padding-left: 10px;
    overflow-y: scroll;
  }
}