.question-item {
  padding: 10px 20px;
  border: 1px solid transparent;
}

.question-item:not(:last-child) {
  margin-bottom: 20px;

}
.question-item:hover {
  border: 1px solid var(--mainColor)
}
.question-item * {
  padding: 5px 0;
}
