.sidebar {
  position: fixed;
  left: 0;
  height: 500px;
  outline: 0;
  border: 0;
  width: 50%;
  background-color: white;
  border-radius: 0 10px 10px 0px;
}

.slide-to-right {
  animation: slide-to-right 0.6s ease-out;
}
@keyframes slide-to-right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
